* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #141515;
}

h1 {
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1.5px;
}

a {
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.uk-slidenav {
  background: transparent;
  color: #beb9c3;
}

a.uk-slidenav svg polyline {
  stroke-width: 2;
}

ul.uk-subnav.uk-subnav-pill {
  width: 475px;
  margin: 30px auto;
}

.title {
  font-size: 38px;
  line-height: 0.9;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.title_catalog {
  position: absolute;
  bottom: 25%;
  margin: 0;
}

.title_catalog:hover {
  -webkit-text-decoration: underline #ffe132;
          text-decoration: underline #ffe132;
}

.title_left {
  right: -15%;
}

.title_right {
  left: -15%;
}

.title_description {
  position: relative;
  color: #beb9c3;
  line-height: 0.9;
  margin: 20px;
  font-weight: 300;
}

.title_description::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 150vh;
  top: 10px;
  left: -20px;
  background: #ebf5f5;
  z-index: -1;
}

.title_advise {
  font-size: 38px;
  line-height: 0.9;
  font-weight: 700;
  letter-spacing: -1.5px;
  margin-top: 60px;
}

.title_cart {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-top: 20px;
  margin-bottom: 0;
}

.title_callback {
  font-weight: 700;
}

.button {
  display: table;
  height: 50px;
  line-height: 48px;
  font-weight: 600;
  border: 2px solid #ffe132;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  background: #ffe132;
  padding: 0 30px !important;
  -webkit-box-shadow: 0 10px 40px rgba(255, 225, 50, 0.6);
          box-shadow: 0 10px 40px rgba(255, 225, 50, 0.6);
}

.button:hover {
  background: transparent;
  border: 2px solid #ffe132;
}

.uk-dotnav > * > * {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  background: #fff;
}

.uk-dotnav > .uk-active > * {
  background-color: #beb9c3;
  border-color: transparent;
}

.uk-subnav-pill > * > :first-child {
  padding: 8px 15px;
  background: #ebf5f5;
  color: #3c3741;
  font-weight: 600;
}

.uk-subnav-pill > * > a:focus,
.uk-subnav-pill > * > a:hover {
  background-color: #3c3741;
  color: #fff;
}

.uk-subnav-pill > .uk-active > a {
  background-color: #3c3741;
  color: #fff;
  font-weight: 600;
}

.uk-transition-scale-up {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1);
          transform: scale3d(1.03, 1.03, 1);
}

.header {
  height: 80vh;
  max-height: 600px;
  background: #ebf5f5;
}

.header .uk-container {
  height: 100vh;
  max-height: 600px;
}

.header .uk-position-center {
  width: 100%;
  padding: 0 40px;
  margin: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-top {
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  font-weight: 600;
}

.header-top__menu a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #141515;
}

.header-top__menu svg rect {
  height: 2px;
}

.header-top__menu span {
  float: left;
}

.header-top__menu div {
  font-family: 'Open Sans';
  margin: 0 10px;
}

.header-top__menu-offcanvas div {
  background: #ffe132;
}

.header-top__menu-offcanvas button.uk-close.uk-icon {
  color: #3c3741;
}

.header-top__menu-offcanvas button.uk-close.uk-icon svg line {
  stroke-width: 2;
}

.header-top__menu-offcanvas ul {
  margin-top: 10vh;
}

.header-top__menu-offcanvas li a {
  font-size: 24px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #3c3741;
}

.header-top__phone svg path {
  stroke-width: 2;
}

.header-top__phone svg polyline {
  stroke-width: 2;
}

.header-top__phone span {
  float: left;
  margin-left: 2px;
}

.header-top__phone div {
  float: left;
  margin: 0 10px;
}

.header-top__phone a {
  color: #3c3741;
}

.header-top__card {
  text-align: center;
}

.header-top__card-phone {
  font-size: 24px;
  margin-bottom: 15px;
}

.header-top__card-phone:hover {
  text-decoration: none;
  color: #ffe132;
}

.header-top__card a.button {
  margin: 0 auto;
}

.header__logo {
  margin-top: 40px;
}

.header p, .header .news-block p {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 35px;
}

.header__catalog {
  font-weight: 600;
  color: #141515;
  margin-top: 30px;
  display: inline-block;
}

.header__catalog:hover {
  color: #ffe132;
}

.header__catalog svg polyline {
  stroke-width: 2;
}

.slider {
  background-blend-mode: multiply;
  background-repeat: no-repeat !important;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  margin: 0 auto;
}

.slider-nav {
  position: absolute;
  top: 30%;
  right: 50px;
  display: inline-block;
}

.catalog {
  position: relative;
  padding: 10vh 0;
}

.catalog::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 10vh;
  bottom: 0vh;
  left: 0;
  background: #fff;
  z-index: -1;
  border-top: 2px solid #ebf5f5;
}

.catalog-block {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin-bottom: 10vh;
}

.catalog-left::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 180px;
  top: 0;
  left: 0;
  background: #ffe132;
  z-index: -1;
}

.catalog-right::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 180px;
  top: 0;
  right: 0;
  background: #ffe132;
  z-index: -1;
}

.catalog .button {
  margin: 0 auto -25px;
}

.advise-slider__container {
  min-height: 380px;
}

.advise-slider .uk-slider-nav {
  margin-bottom: 40px;
}

.advise-cart__block {
  position: relative;
  display: block;
  border: 2px solid #ebf5f5;
  padding: 35px 10px;
  color: #141515;
  overflow: hidden;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.advise-cart__block:hover {
  padding: 35px 10px 55px;
  text-decoration: none;
  color: #141515;
}

.advise-cart__block .button {
  position: absolute;
  left: 50%;
  bottom: -60px;
  background: #fff;
  border: 2px solid #3c3741;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  -webkit-box-shadow: 0 10px 40px rgba(60, 55, 65, 0.6);
          box-shadow: 0 10px 40px rgba(60, 55, 65, 0.6);
  margin: 0 auto -25px !important;
}

.advise-cart__block .button:hover {
  background: #ffe132;
  border: 2px solid #ffe132;
}

.advise-cart__block:hover .button {
  bottom: 35px;
}

.advise-cart__price {
  position: relative;
  display: table;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-left: -10px;
  padding-left: 15px;
}

.advise-cart__price::after {
  content: '';
  position: absolute;
  width: 73%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ffe132;
  z-index: -1;
}

.advise .uk-dotnav > * > * {
  width: 12px;
  height: 12px;
  border: 1px solid #ebf5f5;
  background: #ebf5f5;
}

.advise .uk-dotnav > * > :focus,
.advise .uk-dotnav > * > :hover {
  background-color: #beb9c3;
  outline: 0;
  border-color: transparent;
}

.advise .uk-dotnav > .uk-active > * {
  background-color: #beb9c3;
  border-color: transparent;
}

.news {
  min-height: 600px;
  background: #ebf5f5;
}

.news-container, .news-wrap, .news-wrap__el {
  min-height: 600px;
}

.news-block__button {
  position: absolute;
  background: transparent;
  border: 2px solid #3c3741;
  -webkit-box-shadow: 0 10px 40px rgba(60, 55, 65, 0.6);
          box-shadow: 0 10px 40px rgba(60, 55, 65, 0.6);
  margin: 35px 0 0;
}

.news-block__button:hover {
  background: #ffe132;
  border: 1px solid #ffe132;
}

.news-gallery {
  position: absolute;
  width: 50vw;
  top: 0;
  right: 0;
}

.news-gallery img {
  max-height: 600px;
}

.news-gallery__nav {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(60, 55, 65, 0.8);
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 40px;
}

.news-gallery__nav a.uk-slidenav {
  color: #fff;
  margin-right: 25px;
}

.brands {
  padding: 80px 0;
}

.footer {
  background: #3c3741;
  color: #fff;
  padding: 40px 0;
}

.footer a {
  color: #fff;
}

.footer-author .uk-svg {
  margin-bottom: 4px;
}

.footer-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.footer-contacts__phone {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-contacts .button {
  color: #3c3741;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 auto;
}

.footer-contacts .button:hover {
  background: transparent;
  border: 2px solid #ffe132;
  color: #fff;
}

.footer-dev {
  margin: 0 0 auto auto;
}

.footer-dev a {
  display: block;
}

.footer-callback__block {
  text-align: center;
  width: 400px;
  margin: 40px auto;
}

.footer-callback__block .uk-input, .footer-callback__block .uk-select:not([multiple]):not([size]) {
  height: 50px;
}

.footer-callback__block .button {
  margin: 0 auto 10px;
}

.item .uk-modal-body {
  padding: 0 30px 60px;
}

.item-cart {
  margin-bottom: 20px;
}

.item .uk-subnav {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  position: relative;
  padding-left: 0;
  margin-right: 20px;
}

.item .uk-grid-small {
  margin-top: 5px;
}

.item h4 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
}

.item .advise-cart__price {
  margin-bottom: -30px;
  z-index: 1;
  margin-top: 50px;
}

.item__button {
  margin: 40px auto !important;
  display: table;
}
